@import "tailwindcss";
@import "@nuxt/ui";

@theme {
}

:root {
    --ui-bg: #000000;
    --ui-bg-elevated: #000000;

    /* Default border color */
    --ui-border: var(--ui-color-neutral-200);
    /* Subtle border */
    --ui-border-muted: var(--ui-color-neutral-200);
    /* More prominent border */
    --ui-border-accented: var(--ui-color-neutral-300);
    /* Inverted border color */
    --ui-border-inverted: var(--ui-color-neutral-900);
}

.MARKDOWN {
    h1 {
        @apply text-4xl;
    }
}
